<GeneralContainer>
  <LinkTo @route='index' class='read-more btn'>
    <i class='fa fa-arrow-left' aria-hidden='true'></i>
  </LinkTo>
  <div class='flex-title'>
    <h1>{{this.model.postTitle}}
    </h1>
    <div>
      {{#if (eq this.model.author.id this.currentUserId)}}
        {{! works! }}
        <LinkTo @route='updatePost' class='edit-btn' @model={{this.model.id}}>
          <i class='fa fa-pencil' aria-hidden='true'></i>
        </LinkTo>
        <i
          class='fa fa-trash-o delete-icon'
          aria-hidden='true'
          {{on 'click' (fn this.deleteItem @this.model.id)}}
        ></i>
      {{else if this.isAdmin}}
        {{! works! }}
        <LinkTo @route='updatePost' class='edit-btn' @model={{this.model.id}}>
          <i class='fa fa-pencil' aria-hidden='true'></i>
        </LinkTo>
        <i
          class='fa fa-trash-o delete-icon'
          aria-hidden='true'
          {{on 'click' (fn this.deleteItem @this.model.id)}}
        ></i>
      {{/if}}
    </div>

  </div>
  <img
    class='post-details-image'
    src={{this.model.image}}
    alt={{this.model.postTitle}}
  />
  <p class='description'>{{this.model.description}}</p>
  <hr />
  <div class='flex-title'>
    <p>Author : {{this.model.author.name}}</p>
    <p class='date'> Published At : {{date this.model.date}}</p>
  </div>
</GeneralContainer>