<div class='container'>
  <LinkTo @route='index' class='read-more btn'>
    <i class='fa fa-arrow-left' aria-hidden='true'></i>
  </LinkTo>
</div>
<h2 class='app-title'><span>Login</span> </h2>

<form {{on 'submit' this.onsubmit}} class='add-form'>
  {{#if this.error}}
    <h4 style='color:red'>{{this.error}}</h4>
  {{/if}}
  <label for='email'>Email</label>

  <input
    type='email'
    id='email'
    name='email'
    value={{this.email}}
    {{on 'change' (fn this.update 'email')}}
    placeholder='johdoe@gmail.com'
    required
  />

  <label for='password'>Password</label>
  <input
    type='password'
    id='password'
    value={{this.password}}
    name='password'
    {{on 'change' (fn this.update 'password')}}
    placeholder='. . . . .'
    required
  />
  <input type='submit' value='login' /><br />
  New User?
  <LinkTo @route='register' class='color-primary'>
    Sign Up
  </LinkTo>
</form>